.git
.gitignore
.vscode
.idea
.pytest_cache
.mypy_cache
.ruff_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log

frontend/node_modules
frontend/dist
backend/__pycache__
backend/data
backend/data/chroma_db
backend/extensions/installed
data
dist
node_modules
workspaceStorage